// card color control

.card {
  // teal theme
  &-teal {
    &-bg {
      background-color: $teal;
    }
    &-text-bg {
      background-color: $teal-bg;
    }
  }

  // orange theme
  &-orange {
    &-bg {
      background-color: $orange;
    }
    &-text-bg {
      background-color: $orange-bg;
    }
  }

  // green theme
  &-green {
    &-bg {
      background-color: $green;
    }
    &-text-bg {
      background-color: $green-bg;
    }
  }

  // Pink theme
  &-pink {
    &-bg {
      background-color: $pink;
    }
    &-text-bg {
      background-color: $pink-bg;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

// card-secion part scss //
.card-section {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: flex-start; /* Align cards to the left */
  margin: 100px;
  
  .card {
    width: 320px;
    position: relative;
    overflow: hidden;
	margin-bottom:20px;
	animation: slideIn 0.5s ease-in-out;
	margin:10px;
	
    .card-content {
      .card-side {
        height: 100%;
        width: 57px;
        z-index: 1;
        position: absolute;

        .control-system {
          position: absolute;
          top: 7%;
          right: -238px;
          display: flex;
          width: 270px;
          height: 65px;
          border-radius: 10px;
          align-items: center;
          h5 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            width: 52px;
            height: 52px;
            margin-right: 10px;
            border-radius: 50%;
          }
          span {
            font-size: 16px;
            color: #ffffff;
          }
        }
        .gc {
          position: absolute;
          top: 24%;
          right: -33px;
          width: 70px;
          height: 44px;
          padding: 6px; 
          border-radius: 5px;
          h5 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            border-radius: 5px;
            height: 100%;
          }
        }
        .icon {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          display: flex;
          right: -24px;
          align-items: center;
          justify-content: center;
          position: absolute;

          span {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            display: inline-block;
            background-color: #ffffff;
          }
          &.icon-1 {
            bottom: 50%;
          }
          &.icon-2 {
            bottom: 31%;
          }
          &.icon-3 {
            bottom: 18%;
          }
          &.icon-4 {
            bottom: 4%;
          }
		  
		  &.icon-hidden{
			  display:none;
		  }
		  
        }
      }
      .card-content-img {
        height: 220px;
        background-color: #ffffff;
      }
      .card-content-text {
		height:240px;
        position: relative;
        padding: 24px 20px 20px 100px;
		
        p {
          font-size: 12px;
		  font-weight:500;
          margin-bottom: 30px;
        }
		
        .rating {
          top: -77px;
          position: absolute;
          right: 12px;
          &-item {
            height: 28px;
            width: 190px;
            padding: 0px 10px; 
            margin-bottom: 4px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h6 {
              color: #ffffff;
              font-size: 16px;
              flex-shrink: 0;
              font-weight: 600;
            }
            .rating-icon {
              width: 100%;
              display: flex;
              justify-content: end;
              align-items: center;
              img {
                width: 18px;
              }
            }
          }
        }
      }
    }
  }
}






