
// Colors //


$headers-bg: #dbdddb;


// Card Colors //
$teal: #008083;
$teal-bg: #b0d1d2;

$orange: #e56130;
$orange-bg: #d1c6c3;

$pink: #e86097;
$pink-bg: #d2bac3;

$green: #51ac47;
$green-bg: #bdd7bb;
