#header {
  background-color: $headers-bg;
  transition: transform 0.3s ease-in-out; /* Adjust the duration and timing function as needed */
}

#header-toggler {
  background-color: $headers-bg;
  padding-bottom: 10px;
}

#header-content {
  padding: 20px 50px 20px 90px;
}

.logo {
  width: 300px;
}

.info-tooltip {
  margin-bottom: 10px;

  img {
    width: 20px !important;
    height: 20px !important;
    margin-right: 10px;
  }

  width: 250px;
  display: inherit;
}

#filter-content {
  .form-label {
    font-weight: bold;
  }

  .form-check-input {
    width: 3em;
    height: 1.3em;
  }

  .form-check-label {
    padding-left: 10px;
  }

  .ai-capabilities-filter {
    .ai-tooltip {
      img {
        width: 20px !important;
        height: 20px !important;
      }

      width: 250px;
      display: inherit;
    }

    img {
      width: 40px;
      margin-right: 10px;
    }

    .form-check {
      margin-left: 10px;
    }
  }

  .scores-filter {
    .form-check {
      padding-right: 10px;
    }

    .score-selected {
      background-color: #9dcaed;
	  
	  .fa-star{ 
	  color:#b28619 !important;
	  }
	  
	  
    }

    .btn-star {
      margin-right: 10px;
	  
	  
	  .fa-star{ 
	  color:#ebb51f;
	  }
	  
    }
  }

  .energy-checkbox {
    &:checked {
      background-color: $teal;
    }
    &:not(:checked) {
      background-color: $teal-bg;
    }
  }

  .manufacturing-checkbox {
    &:checked {
      background-color: $orange;
    }
    &:not(:checked) {
      background-color: $orange-bg;
    }
  }

  .built-environment-checkbox {
    &:checked {
      background-color: $pink;
    }
    &:not(:checked) {
      background-color: $pink-bg;
    }
  }

  .agriculture-checkbox {
    &:checked {
      background-color: $green;
    }
    &:not(:checked) {
      background-color: $green-bg;
    }
  }
}

/* Default button style */
#toggler {
  display: inline-block;
  padding: 20px 50px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  color: #fff;
}

/* Arrow-up specific styles */
.btn-arrow.arrow-up {
  position: relative;
}

.btn-arrow.arrow-up::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f077";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Arrow-down specific styles */
.btn-arrow.arrow-down {
  position: relative;
}

.btn-arrow.arrow-down::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sectorFiler {
  .teal {
    background-color: $teal;
  }
  .orange {
    background-color: $orange;
  }

  .green {
    background-color: $green;
  }

  .pink {
    background-color: $pink;
  }
}

[data-tooltip] {
  display: inline-block;
  position: relative;

  --carat-size: 5px;
  --offset: 0.5rem;

  --tooltip-position: calc(100% + var(--offset));
  --carat-position: calc(100% + var(--offset) - var(--carat-size) / 2);

  &::before,
  &::after {
    opacity: 0;
    pointer-events: none;
    display: block;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
  }

  &::before {
    content: "";
    background-color: black;
    height: var(--carat-size);
    width: var(--carat-size);
    opacity: 0;
  }

  &::after {
    content: attr(data-tooltip);
    color: white;
    background-color: black;
    padding: 0.3rem;
    border-radius: 4px;
    min-width: 10rem;
    text-align: left;
    z-index: 10;
    opacity: 0;
  }

  /* exposes on hover and focus (when focus is obtained 
		 via keyboard) */
  &:hover::before,
  &:hover::after,
  &:focus-within::before,
  &:focus-within::after {
    display: block;
    opacity: 1;
    pointer-events: unset;
  }

  &[data-tooltip-anchor="right"]::before {
    left: var(--carat-position);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  &[data-tooltip-anchor="right"]::after {
    left: var(--tooltip-position);
    top: 50%;
    transform: translateY(-50%);
  }

  &[data-tooltip-anchor="left"]::before {
    right: var(--carat-position);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  &[data-tooltip-anchor="left"]::after {
    right: var(--tooltip-position);
    top: 50%;
    transform: translateY(-50%);
  }

  &[data-tooltip-anchor="top"]::before {
    bottom: var(--carat-position);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  &[data-tooltip-anchor="top"]::after {
    bottom: var(--tooltip-position);
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-tooltip-anchor="bottom"]::before {
    top: var(--carat-position);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  &[data-tooltip-anchor="bottom"]::after {
    top: var(--tooltip-position);
    left: 50%;
    transform: translateX(-50%);
  }
}

#scrollToTopBtn {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  z-index: 99999;
}
