
#header{
	background-color: $headers-bg;
}

#header-toggler{
	background-color: $headers-bg;
	padding-bottom:10px;
}

#header-content{
	padding: 20px 50px 20px 90px;
}

#filter-content {

  .form-check-input {
    width: 3em;
	height: 1.3em;
  }
  
  .form-check-label{
	padding-left: 10px;
   } 
  
  .ai-capabilities-filter {
  
	img{
		width: 40px;
		margin-right:10px; 
	}
	
	.form-check{
		margin-left: 10px;
	}

  
  }

  .scores-filter {
  
  
  	.form-check{
		padding-right: 10px;
	}
  
    .score-check {
      width: 25px;
      height: 25px;
	  padding-right:10px;
      background-color: $headers-bg;
      border: $headers-bg;

      &:checked {
        background-image: url("../images/icons/fill-star.svg");
        background-color: $headers-bg;
        border: $headers-bg;
      }
      &:not(:checked) {
        background-image: url("../images/icons/star.svg");
        background-color: $headers-bg;
        border: $headers-bg;
      }
    }
	
	.star{
		width: 25px;
		height: 25px;
		cursor: pointer;
		background-image: url("../images/icons/star.svg");
	}
	
	.star-checked{
		 background-image: url("../images/icons/fill-star.svg") !important;
	}
	
	
	.all{
		width: 25px;
		height: 25px;
		cursor: pointer;
		border:1px solid #666;
		background-color:#fff;
		color:#000;
		border-radius:5px;
		width: 30px;
		text-align: center;
		margin-right:5px;
	}
	
	.all-checked{
		
		background-color:#008083;
		color:#fff;
	}	
  }

  .energy-checkbox {
    &:checked {
      background-color: $teal;
    }
    &:not(:checked) {
      background-color: $teal-bg;
    }
  }

  .manufacturing-checkbox {
    &:checked {
      background-color: $orange;
    }
    &:not(:checked) {
      background-color: $orange-bg;
    }
  }

  .built-environment-checkbox {
    &:checked {
      background-color: $pink;
    }
    &:not(:checked) {
      background-color: $pink-bg;
    }
  }

  .agriculture-checkbox {
    &:checked {
      background-color: $green;
    }
    &:not(:checked) {
      background-color: $green-bg;
    }
  }
  
  }

/* Default button style */
#toggler {
  display: inline-block;
  padding: 20px 50px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  color: #fff;
}

/* Arrow-up specific styles */
.btn-arrow.arrow-up {
  position: relative;
}

.btn-arrow.arrow-up::before {
  content: '\25B2'; /* Unicode character for upward arrow */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Arrow-down specific styles */
.btn-arrow.arrow-down {
  position: relative;
}

.btn-arrow.arrow-down::before {
  content: '\25BC'; /* Unicode character for downward arrow */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



