


.energy-checkbox {
  &:checked {
    background-color: $teal
  }
  &:not(:checked) {
    background-color: $teal-bg;
  }
}

.manufacturing-checkbox {
  &:checked {
    background-color: $orange;
  }
  &:not(:checked) {
    background-color: $orange-bg;
  }
}

.built-environment-checkbox {
  &:checked {
    background-color: $pink;
  }
  &:not(:checked) {
    background-color: $pink-bg;
  }
}

.agriculture-checkbox {
  &:checked {
    background-color: $green;
  }
  &:not(:checked) {
    background-color: $green-bg;
  }
}

.aside-container{

	position:fixed;
	top:0px;
	z-index:999999;
	width:100%;
	height:50px;
	background:#efefef;
	
}


button:focus {
    outline: none;
}
aside {
    background: #1a1d23;
	opacity: 0.95;
    width: 450px;
    height: 100vh;
    position: fixed;
    transition: 0.3s;

    left: -450px;
    top: 0;
    transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
	
	
	h3{
	
	margin-bottom:25px;
	}
	
	
}
aside.close {
    left: 0;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
    z-index: 999999;
}
nav a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background: #313640;
}
aside button {
    border: none;
    background: none;
    position: absolute;
    right: -45px;
    top: 7px;
    font-size: 30px;
    transform: rotate(90deg);
    display: inline-block;
    cursor: pointer;
	z-index:999999;
}
