


.energy-checkbox {
  &:checked {
    background-color: $teal
  }
  &:not(:checked) {
    background-color: $teal-bg;
  }
}

.manufacturing-checkbox {
  &:checked {
    background-color: $orange;
  }
  &:not(:checked) {
    background-color: $orange-bg;
  }
}

.built-environment-checkbox {
  &:checked {
    background-color: $pink;
  }
  &:not(:checked) {
    background-color: $pink-bg;
  }
}

.agriculture-checkbox {
  &:checked {
    background-color: $green;
  }
  &:not(:checked) {
    background-color: $green-bg;
  }
}



button:focus {
    outline: none;
}
aside {
    background: #1a1d23;
    width: 250px;
    height: 100vh;
    position: fixed;
    transition: 0.3s;

    left: -250px;
    top: 0;
    transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
}
aside.close {
    left: 0;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
    z-index: 999;
}
nav a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background: #313640;
}
aside button {
    border: none;
    background: none;
    position: absolute;
    right: -40px;
    top: 7px;
    font-size: 30px;
    transform: rotate(90deg);
    display: inline-block;
    cursor: pointer;
	z-index:99;
}
