
* {
  margin: 0;
  outline: 0;
  padding: 0;
}

img {
  border: 0;
  //   max-width: 100%;
  //   height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
h6,
p {
  margin-bottom: 0;
}
.btn {
  &:focus {
    box-shadow: none;
  }
}

body {
  font-family: "Source Sans 3", sans-serif;
  background: #666;
  background-attachment: fixed;
  background-image: url("./public/assets/images/bg.jpg");
}
