@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
$global-color-primary: #008083;
$global-color-white: #fff;
$global-color-black: rgba(0, 0, 0, 0.95);
$global-color-gray-6: rgba(0, 0, 0, 0.65);

$super-wide-desktop: 1279px; // xxlarge
$wide-desktop: 1162px; // xlarge
$narrow-desktop: 1024px; // large
$tablet: 768px; // medium
$max-width-tablet: 640px;
$category-page-faceted-search-highlight-text-color: $global-color-white;
$category-page-faceted-search-highlight-background-color: $global-color-primary;
$category-page-faceted-search-border-color: $global-color-black;
$category-page-faceted-search-select-checkbox-color: $global-color-gray-6;
$category-page-faceted-search-select-checkbox-check-color: $global-color-white;
$category-page-faceted-search-tablet-max-width: 536px;
$category-page-faceted-search-narrow-desktop-one-line: false;
$category-page-faceted-search-narrow-desktop-max-width: 536px;
$category-page-faceted-search-wide-desktop-one-line: true;
$category-page-faceted-search-wide-desktop-max-width: 1100px;
$form-focus-outline-color: #4D90FE;
$global-box-shadow-9: 0 3px 9px 0 rgba(0, 0, 0, 0.15);

*, *::before, *::after {
  box-sizing: border-box;
}

// Use this to be accessible.
@mixin visually-hidden($on: true) {
  @if ($on) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  } @else {
    position: static;
    clip: unset;
    width: auto;
    height: auto;
    overflow: visible;
    margin: 0;
  }
}

@mixin type-subtitle() {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

@mixin type-tip() {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}


// Adds a min-width media query.
// $pixels
@mixin min-width($pixels) {
  @media (min-width: $pixels) {
    @content;
  }
}

// $pixels
@mixin max-width($pixels) {
  @media (max-width: $pixels) {
    @content;
  }
}

// Media queries for defined breakpoint.
@mixin wide-mobile {
  @include min-width($wide-mobile) {
    @content;
  }
}

@mixin tablet {
  @include min-width($tablet) {
    @content;
  }
}

@mixin narrow-desktop {
  @include min-width($narrow-desktop) {
    @content;
  }
}

@mixin wide-desktop {
  @include min-width($wide-desktop) {
    @content;
  }
}

@mixin reset-link($color: $global-color-black, $no-underline: true, $add-underline: false) {
  color: $color;
  @if ($no-underline) {
    text-decoration: none;
  }

  &:hover,
  &:visited {
    color: $color;
    @if ($add-underline) {
      text-decoration: underline;
    } @else if ($no-underline) {
      text-decoration: none;
    }
  }
}

@mixin type-button() {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin button-base() {
  @include type-button();
  padding: 11px 32px;
  display: inline-block;
  text-align: center;
  border-width: 0;
  border-radius: 0;
}

@mixin button-text() {
  @include button-base;
}

@mixin button-contained {
  @include button-base;
  background: $global-color-black;
  color: $global-color-white;
}

@mixin form-focus-style($selector: '&:focus') {
  #{$selector} {
    outline: none; 
    border-color: $form-focus-outline-color;
    -webkit-box-shadow: 0px 0px 5px $form-focus-outline-color;
    box-shadow: 0px 0px 5px  $form-focus-outline-color;
  }
}

@mixin input($borderColor: $global-color-black) {
  border: 1px solid $borderColor;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  border-radius: 0;
  background: $global-color-white;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  @include type-tip;
  @include form-focus-style;
}




.dropdown {
  @include input($category-page-faceted-search-border-color);
  
  &-trigger {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  &-wrap {
    position: relative;
  }
  
  &-option {
    @include form-focus-style($selector: '&.active');
  }
  
  &-list {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 250px;
    padding: 8px 12px;
    text-align: left;
    max-height: 250px;
    overflow-y: auto;
    background: $global-color-white;
    box-shadow: $global-box-shadow-9;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.42, 0, 0.38, 1.34);
    
    &.open {
      visibility: visible;
      opacity: 1;
      z-index: 1;
      pointer-events: auto;
    }
  }
}

.category-page-faceted-search {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  
  &-label {
    @include type-subtitle;
    display: block;
    margin-bottom: 8px;
  }
  
  &-select-container,
  &-filter-container {
    margin: 0;
    padding: 0;
    border-width: 0;
  }
  
  &-element-container:not(:first-child) {
    margin-top: 24px;
  }

  &-text,
  &-select {
    @include input($category-page-faceted-search-border-color);
  }
  
  &-select {
    &-container {
      .category-page-faceted-search-label {
        margin: 0 auto 8px;
      }
    }
    
    &-input {
      min-width: 230px;
      padding-right: 40px;
    }
    
    &-toggle-arrow {
      top: 12px;
      right: 10px;
    }
    
    &-item {
      position: relative;
      height: 48px;
      @include type-tip;
      display: flex;
      align-items: center;
      padding: 0 0 0 40px;

      &::before, &::after {
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        top: 16px;
        left: 8px;
      }

      &::before {
        box-shadow:  0px 0px 0px 2px $category-page-faceted-search-select-checkbox-color;
        border-radius: 1px;
      }
      
      &.selected {
        &:before {
          background: $category-page-faceted-search-select-checkbox-color;
        }

        &:after {
          width: 6px;
          height: 12px;
          border: solid $category-page-faceted-search-select-checkbox-check-color;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          left: 13px;
        }
      }
    }
  }
  
  &-filter {
    @include type-tip;
    
    &-container {
      .category-page-faceted-search {
        &-label {
          display: block;
          margin: 0 auto 8px;
        }

        &-filter {
          display: block;
          float: left;
          width: calc(50% - 2px);
          border-top: 1px solid $category-page-faceted-search-border-color;
          border-left: 1px solid $category-page-faceted-search-border-color;
          border-right: 1px solid $category-page-faceted-search-border-color;
          position: relative;

          &:nth-of-type(odd) {
            border-right-width: 0;
          }

          &-last-row {
            border-bottom: 1px solid $category-page-faceted-search-border-color;
          }

          &-label {
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &-choice {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            @include form-focus-style($selector: '&:focus + .category-page-faceted-search-filter-label');

            &:checked + .category-page-faceted-search-filter-label {
              color: $category-page-faceted-search-highlight-text-color;
              background: $category-page-faceted-search-highlight-background-color;
            }
          }
        }
      }

    }
  }
  
  
  
  &-submit {
    @include button-contained;
    padding: 0;
    height: 48px;
    width: 108px;
  }
  
  @include tablet {
    max-width: $category-page-faceted-search-tablet-max-width;
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    
    &-text-container,
    &-select-container {
      margin-bottom: 24px;
    }

    &-element-container:not(:first-of-type) {
      margin-top: 0;
    }
    
    &-select-container,
    &-filter-container {
      .category-page-faceted-search-label {
        margin: 0 0 8px 0;
      }
    }
    
    &-filter {
      border-bottom: 1px solid $category-page-faceted-search-border-color;
          
      &:not(:last-of-type) {
        border-right-width: 0;
      }
      
      &-label {
        padding: 0 16px;
      }
      
      &-container {
        .category-page-faceted-search {
          &-filter {
            width: auto;
          }
        }
      }
    }
  }
  
  @include narrow-desktop {
    max-width: $category-page-faceted-search-narrow-desktop-max-width;
    
    @if $category-page-faceted-search-narrow-desktop-one-line {
      &-text-container,
      &-select-container {
        margin-bottom: 0;
      }

      &-text-container {
        padding-right: 24px;
      }

      &-select-container {
        padding-left: 0;
      }

      &-text-container,
      &-select-container,
      &-filter-container {
        padding-right: 24px;
      }
    }
  }
  
  @include wide-desktop {
    max-width: $category-page-faceted-search-wide-desktop-max-width;
    
    @if $category-page-faceted-search-wide-desktop-one-line {
      &-text-container,
      &-select-container {
        margin-bottom: 0;
      }

      &-text-container {
        padding-right: 24px;
      }

      &-select-container {
        padding-left: 0;
      }

      &-text-container,
      &-select-container,
      &-filter-container {
        padding-right: 24px;
      }
    }
  }
}



// Brand specific styles.
.category-page-faceted-search {
  &-filter {
    &-icon {
      margin-right: 4px;
    }
    
    &-container {
      .category-page-faceted-search-filter {
	  
		background-color: $global-color-white;
	  
        &-choice {
          &-2 {
            &:checked + .category-page-faceted-search-filter-label {
              path {
                fill: $category-page-faceted-search-highlight-text-color;
              }
              circle {
                fill: transparent;
                stroke: $category-page-faceted-search-highlight-text-color;
              }
            }
          }
          &-3 {
            &:checked + .category-page-faceted-search-filter-label {
              path {
                fill: $category-page-faceted-search-highlight-background-color;
              }
              g g {
                path {
                  fill: $category-page-faceted-search-highlight-text-color;
                }
                circle {
                  fill: $category-page-faceted-search-highlight-text-color;
                  stroke: $category-page-faceted-search-highlight-text-color;
                }
              }
            }
          }
          &-4 {
            &:checked + .category-page-faceted-search-filter-label {
              path, circle {
                fill: $category-page-faceted-search-highlight-text-color;
                stroke: $category-page-faceted-search-highlight-text-color;
              }
            }
          }
          
        }
      }
    }
  }
  
}