/** @format */

// common scss //

* {
  margin: 0;
  outline: 0;
  padding: 0;
}

img {
  border: 0;
  //   max-width: 100%;
  //   height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
h6,
p {
  margin-bottom: 0;
}
.btn {
  &:focus {
    box-shadow: none;
  }
}

body {
  font-family: "Source Sans 3", sans-serif;
  background: #666;
  background-attachment: fixed;
}

// card color control

.card {
  // teal theme
  &-teal {
    &-bg {
      background-color: #008083;
    }
    &-text-bg {
      background-color: #b0d1d2;
    }
  }

  // orange theme
  &-orange {
    &-bg {
      background-color: #e56130;
    }
    &-text-bg {
      background-color: #d1c6c3;
    }
  }

  // green theme
  &-green {
    &-bg {
      background-color: #51ac47;
    }
    &-text-bg {
      background-color: #bdd7bb;
    }
  }

  // Pink theme
  &-pink {
    &-bg {
      background-color: #e86097;
    }
    &-text-bg {
      background-color: #d2bac3;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.card {
  /* Your existing card styles */

  /* Apply the animation to the card */
  animation: slideIn 0.5s ease-in-out;
}

// card-secion part scss //
.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px;
  
  .card {
    width: 400px;
    position: relative;
    overflow: hidden;
	margin-bottom:20px;
	
	
	
    .card-content {
      .card-side {
        height: 100%;
        width: 70px;
        z-index: 1;
        position: absolute;

        .control-system {
          position: absolute;
          top: 7%;
          right: -278px;
          display: flex;
          width: 300px;
          height: 80px;
          border-radius: 10px;
          align-items: center;
          h5 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            width: 52px;
            height: 52px;
            margin-right: 5px;
            border-radius: 50%;
          }
          span {
            font-size: 16px;
            color: #ffffff;
          }
        }
        .gc {
          position: absolute;
          top: 24%;
          right: -38px;
          width: 70px;
          height: 44px;
          padding: 6px; 
          border-radius: 5px;
          h5 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            border-radius: 5px;
            height: 100%;
          }
        }
        .icon {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: flex;
          right: -24px;
          align-items: center;
          justify-content: center;
          position: absolute;

          span {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: inline-block;
            background-color: #ffffff;
          }
          &.icon-1 {
            bottom: 53%;
          }
          &.icon-2 {
            bottom: 31%;
          }
          &.icon-3 {
            bottom: 18%;
          }
          &.icon-4 {
            bottom: 4%;
          }
		  
		  &.icon-hidden{
			  display:none;
		  }
		  
        }
      }
      .card-conent-img {
        height: 270px;
        background-color: #ffffff;
      }
      .card-content-text {
		height:250px;
        position: relative;
        padding: 24px 20px 20px 100px;
		
        p {
          font-size: 16px;
		  font-weight:500;
          margin-bottom: 30px;
        }
		
        .rating {
          top: -87px;
          position: absolute;
          right: 16px;
          &-item {
            height: 32px;
            width: 190px;
            padding: 0px 10px;
            margin-bottom: 4px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h6 {
              color: #ffffff;
              font-size: 20px;
              flex-shrink: 0;
              font-weight: 600;
            }
            .rating-icon {
              width: 100%;
              display: flex;
              justify-content: end;
              align-items: center;
              img {
                width: 20px;
              }
            }
          }
        }
      }
    }
  }
}
